name: Auto Update

on:
  push:
    branch: [gh_actions]

jobs:
  build:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
      - name: Check a build environment
        run: |
          Get-CimInstance win32_operatingsystem -Property Caption, OSArchitecture, Version | fl Caption, OSArchitecture, Version
          $PSVersionTable
          git --version
          choco --version
      - name: Initialize Git config
        run: |
          git config --global user.email "chocolatey@realdimensions.net"
          git config --global user.name "Chocolatey"
          git config --global core.safecrlf false
      - name: Install AU
        run: |
          git clone -q https://github.com/kai2nenobu/au.git $Env:TEMP/au
          . "$Env:TEMP/au/scripts/Install-AU.ps1" $Env:au_version
        env:
          au_version: pwsh7
      - name: Check update for packages
        run: |
          $ErrorActionPreference = 'Continue'
          ./update_all.ps1 -ForcedPackages $forced
          7z a au_temp.zip $Env:TEMP\chocolatey\au\*
        env:
          au_push: false
          au_pushurl: https://www.myget.org/F/kai2nenobu # Where to push packages
          # Github token to commit pushed packages to repository
          github_user_repo: kai2nenobu/my-chocolatey-packages
          github_api_key: ${{ secrets.AU_GITHUB_API_KEY }}

          # ID of the gist used to save run results - create a gist under the github_user (secret or not) and grab the id - https://gist.github.com/name/id
          # Optional, leave empty to create anonymous gist
          gist_id: 4df33f42a891ced2fe169974fd3d58ec

          # Force test: gist id for test results
          gist_id_test:

          # Chocolatey API key - to push updated packages
          api_key: ${{ secrets.MYGET_API_KEY }}

          # Slack webhook URL
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}

          # AppVeyor build url which points to this build
          APPVEYOR_BUILD_URL: https://test.example.com
      - name: Upload update results
        uses: actions/upload-artifact@v2
        with:
          name: update_results
          path: |
            update_info.xml
            Update-AUPackages.md
            au_temp.zip
